h1 {
    color: #FEFAE0;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
}

h4 {
    color: #FEFAE0;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
}

h6 {
    color: #FEFAE0;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
}

body {
    background-color: #44270D;
    background-image: url("../doc/ui/bg_bean.png");
    background-size: 200px;
    font-family: Verdana;
}

.loginbox {
    color: #87551D;
    font-family: Verdana;
    font-weight: bold;
    line-height: 1.8;
    background-color: #FEFAE0;
    margin: 0 32%;
    padding: 10px;
    overflow: auto;
}

.logincontainer {
    width: 50%;
    float: left;
}

input[type=text] {
    align: center;
    color: #87551D;
    font-family: Verdana;
    font-weight: bold;
    text-align: center;
    background-color: #C3A87F;
    border: none;
}

input[type=text]:hover {
    background-color: #87551D;
    color: #44270D;
}

input[type=submit] {
    color: #87551D;
    font-family: Verdana;
    font-weight: bold;
    background-color: #C3A87F;
    border: none;
    padding: 1% 2%;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #87551D;
    color: #44270D;
}

input[type=radio] {
    margin: 0 65px;
}

.drinkchoice {
    width: 80px;
    height 120px;
    margin: 10px 30px;
}

.stage_center {
    width: 853px;
    height: 480px;
    background-image: url("../doc/ui/background_placeholder.png");
    position: relative;
    margin: auto;
}

.stage_right {
    width: 853px;
    height: 480px;
    background-image: url("../doc/ui/background_placeholder.png");
    position: relative;
    margin-left: auto;
    margin-right: 2%;
}

.coffee {
    width: 120px;
    height: 180px;
    position: absolute;
    transform-origin: center;
    transition: transform 0.1s linear;
}

.menu_center {
    width: 212px;
    position: relative;
    margin: 10px auto;
    display: flex;
    gap: 12px;
}

.menu_right {
    width: 212px;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: 23%;
    display: flex;
    gap: 12px;
}

.menubutton {
    width: 100px;
    height: 100px;
    background-image: url("../doc/ui/button_placeholder.png");
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    transition: transform 0.1s;
    cursor: pointer;
}

.menubutton:hover {
    transform: scale(1.05);
}

.counter {
    color: #87551D;
    font-family: Verdana;
    font-weight: bold;
    background-color: #FEFAE0;
    margin: 0 4%;
    padding: 10px;
    text-align: center;
    width: 500px;
    float: left;
}

.counternumber {
    font-size: 48px;
    margin: 0 15%;
    padding: 10px;
    background-color: #C3A87F;
}

.counterbutton {
    color: #87551D;
    font-size: 25px;
    font-family: Verdana;
    font-weight: bold;
    background-color: #C3A87F;
    border: none;
    padding: 2% 3%;
    margin: 4% 1%;
    cursor: pointer;
}

.counterbutton:hover {
    background-color: #87551D;
    color: #44270D;
}